{{#maps}}
    <tr>
        <td>{{sequence}}</td>
        <td>
            <a class="count" href="BoardView.html?sequence={{sequence}}&title={{title}}&contents={{contents}}">
                {{title}}
            </a>
        </td>
        <td>{{time}}</td>
        <td class="hit">{{hit}}</td>
    </tr>
{{/maps}}
