{{#maps}}
    <tr>
        <td>{{sequence}}</td>
        <td>
            <a href="BoardView.html?sequence={{sequence}}&title={{title}}&contents={{contents}}">
                {{title}}
            </a>
        </td>
        <td>{{time}}</td>
        <td>{{hit}}</td>
    </tr>
{{/maps}}
